* {
    /* outline: 2px solid red; */
    box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

body {
    background-color: #bde0fe;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-body {
    height: 85%;
    width: 90%;
    border-radius: 2rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.header {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 5vw;
}

.header-left h1 {
    font-size: 1.8rem;
    font-weight: 800;
}



.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 40%;
    margin-right: 5vw;
}

.fa-meteor {
    padding: 10px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
}

.unit-form {
    margin-right: 10px;
}

.unit-form input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
  
.unit-form label {
    cursor: pointer;
    display: inline-block;
    background-color: white;
    padding: 10px 20px;
    font-size: .8rem;
    height: 2.2rem;
    border: 2px solid black;
}


.unit-form input[type="radio"]:focus + label {
    border: 2px solid black;
}

.unit-form input[type="radio"]:checked + label {
    background-color: white;
    border-color: red;
    color: red;
}

.imperial {
    border-radius: 0 10px 10px 0;
    margin-left: -3px;
}
.metric {
    border-radius: 10px 0 0 10px;
}

.imperial, .metric {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.search-bar {
    position: relative;
    display: block;
    width: 100%;
    max-width: 3rem;
    transition: 0.4s linear;
    overflow: hidden;
}
.search-bar .search-box {
    display: block;
    appearance: none;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: black;
    padding: 15px;
    color: black;
    font-size: .9rem;
    cursor: pointer;
    transition: 0.4s linear;
    font-weight: bold;
}
.search-bar .search-box::placeholder {
    color: #24233A;
    font-size: .8rem;
}

.search-bar .fa-magnifying-glass {
    position: absolute;
    right: calc(53px / 2);
    top: 50%;
    transform: translate(50%, -50%);
    width: 12px;
    height: 20px;
    pointer-events: none;
    color: white;
}

.search-bar:hover, .search-bar:focus {
    max-width: 15vw;
}

.search-bar:hover .search-box, .search-bar:focus .search-box {
    background-color: white;
    border: 2px solid black;
}
.search-bar:hover .fa-magnifying-glass {
    color: black;
}

.content {
    display: flex;
    height: 65%;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-left {
    width: 25%;
}

.content-left > h1 {
    font-size: clamp(4rem, 7vw, 10rem);
}

.content-left > h1, .content-left > h3,
.content-left > p {
    margin-left: 5vw;
    margin-bottom: 0;
    margin-top: 0;
}

#temperature {
    margin-top: 5rem;
}


.image-display {
    z-index: 2;
    width: 50%;
    height: 22vw;
    display: flex;
    justify-content: center;
}
.image-display > img {
    max-height: 100vh;
    object-fit: contain;
    border-radius: 50%;
    margin-top: -5vw;
    border: 2px solid black;
}

.content-right {
    width: 25%;
}

.content-right-container {
    margin-left: 10vw;
}

.content-right p {
    margin: 0;
    font-weight: 500;
}

.content-right h2 {
    margin: 0;
    font-size: 4rem;
    font-size: clamp(1.4rem, 1.5vw, 4rem);
}

.content-right .fa-solid, .content-right .fa-brands {
    margin-right: 10px;
}

.feels-like-container {
    margin-top: 4rem;
}

.feels-like-container, .humidity, .pressure, .wind-speed {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: .8rem;
}






.footer {
    height: 15%;
}

@media only screen and (max-width: 700px) {
    .header {
        justify-content: center;
        align-items: center;
    }
    .header > .header-left {
        flex: 1 1 100%;
        min-width: 0;
        margin: 10px;
        justify-content: center;
    }
    .header > .header-right {
        margin: 10px;
        flex: 1 1 400px;
        min-width: 0;
        justify-content: center;
    }
    .search-bar:hover, .search-bar:focus {
        width: 125px;
    }
    .unit-form label {
        font-size: .6rem;
    }

    .content {
        justify-content: center;
        align-items: center;
    }
}